[Unit]
Description=Wire Service Red Light
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/checker.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

